<p>templateform works!</p>

<div class="container">
    <div class="row justify-content-center">
       
        <div class="col-md-6 text-left rounded shadow py-5">
            <div> <h2>Simple Form</h2></div>
            <form #myForm="ngForm" (ngSubmit)="OnSubmit(myForm)">
                <div class="form-group">
                    <label for="username">UserName</label>
                     <input required type="text" class="form-control" id="username" name="username" [ngModel]="defaultusername"
                     placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input email required type="text" class="form-control" id="email" name="email" ngModel 
                    placeholder="Enter email" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@codemindtechnology.com$">
                    <small class="text-danger" *ngIf="!email.valid && email.touched">Please Enter a valid domain email</small>
                </div>
                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select name="course" class="form-control" id="course" ngModel>
                        <option [value]="course" *ngFor="let course of courseArr" >
                            {{course}}
                        </option>
                    </select>
                
                </div>
                <div class="form-group" *ngFor="let gender of genders">
                    <input  type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" class="custom-control-input" [ngModel]="defaultGenderValue">
                    <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
                </div>
                
                <button type="submit" [disabled]="!myForm.valid" class="btn btn-success" >Submit</button>

                <div class="row justify-content-center" *ngIf="isSubmitted">
                    <h2>Form Data</h2>
                    <p>UserName: {{user.userName}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Course: {{user.course}}</p>
                    <p>Gender: {{user.gender}}</p>

                </div>
            </form>
        </div>
    </div>
</div>



                