<div class="container">
  <h2>Image Comments</h2>

  <!-- Input for comments -->
  <input [(ngModel)]="newComment" placeholder="Enter your comment" />

  <!-- Image upload input -->
  <input type="file" (change)="onFileSelected($event)" accept="image/*" />

  <!-- Post button -->
  <button (click)="postComment()">Post</button>

  <!-- Display the image -->
 
  <img *ngIf="imageSrc" [src]="imageSrc" alt="Uploaded Image" />


 
  <div class="comments">
    <div *ngFor="let comment of comments">
      <div> {{ comment.text }}</div>
      <a (click)="likeComment(comment)"> <i style="color: red;" class="fa fa-heart" aria-hidden="true"></i> likes: {{comment.likes}} </a>
      <mat-form-field class="example-full-width">
        <input matInput #myclick placeholder="Enter your comment" />
        {{add}}
        <button (click)="click(myclick.value)">clickme</button>
      </mat-form-field>
    </div>
  </div>
</div>