
<div class="container">
    <div class="row justify-content-center">
       
        <div class="col-md-6 text-left rounded shadow py-5">
            <div>Reactive Form</div>
            <form [formGroup]="myReactiveform" (ngSubmit)="OnSubmit()" >
                <div formGroupName="userDetails">
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input type="text" class="form-control" formControlName="username" placeholder="Enter user name">
                    <small class="text-danger" *ngIf="!myReactiveform.get('userDetails.username').valid && myReactiveform.get('userDetails.username').touched">
                        <small *ngIf="myReactiveform.get('userDetails.username').errors['required']">Please enter user name</small></small>
                        <small *ngIf="myReactiveform.get('userDetails.username').errors['namesNotAllowed']">User name not allowed{{myReactiveform.get('userDetails.username').value}}</small>
                    
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enater email">
                    <small class="text-danger" *ngIf="!myReactiveform.get('userDetails.email').valid && myReactiveform.get('userDetails.email').touched">
                        <small  *ngIf="myReactiveform.get('userDetails.email').errors['required']"></small>>Please enter valid email</small>
                    <small class="text-danger" *ngIf="myReactiveform.get('userDetails.email').errors['emailNotAllowed']">{{myReactiveform.get('userDetails.email').value}}email is  not allowed</small>
                </div>
            </div>
                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select formControlName="course" class="form-control">
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>

                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio" *ngFor="let gender of genders">
                        <input class="custom-control-input" type="radio" formControlName="gender" value="{{gender.value}}" id="{{gender.id}}">
                        <label for="{{gender.id}}">{{gender.value}}</label>
                    </div>
                    
                </div>
                <div class="form-group" formArrayName="skills">
                    <label >Skills</label>
                    <ng-container *ngFor="let skill of myReactiveform.get('skills').controls; let i=index" [formGroupName]="i">
                        <input formControlName="{{i}}" id="input" type="text" class="form-control mt-2" placeholder="Add Skills">
                        <input type="button" id="Remove" value="x" (click)="OnremoveSkills(i)">
                        
                    </ng-container><br>
                    
                    <button class="btn btn-light btn-sm mt-4 btn-add" (click)="OnAddSkills()">
                        <i>+</i>Add Skills
                    </button >
                    
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="row justify-content-center mt-2" *ngIf="isSubmitted">
            <div class="col-md-6 rounded shadow py-4">
            <h2>Reactive Form Data</h2>
            <p>User Name : <strong>{{myReactiveform.get('userDetails.username').value}}</strong></p>
            <p>User Email : <strong>{{myReactiveform.get('userDetails.email').value}}</strong></p>
            <p>Selected Course : <strong>{{myReactiveform.get('course').value}}</strong></p>
            <p>Gender : <strong>{{myReactiveform.get('gender').value}}</strong></p>
        </div>
        </div>
    </div>
</div>