<div id="form" class="rounded shadow py-5">
<h2 style="margin-left:170px ;">Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
    <mat-form-field appearance="outline" style="margin-left:50px;width:300px;">
        <mat-label>Enter your username</mat-label>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">Username is required</mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline" style="margin-left:50px ; width: 300px;">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is required</mat-error>
    </mat-form-field>
</div>
    <button style="margin-left: 150px;" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" routerLink="/imagePostPage">Login</button>

    <div>
    <h3 style="margin-left: 175px; margin-top:20px">OR</h3>
    </div>
    <div>
    <a style="margin-left:140px; margin-top:20px" routerLink="/account">Create account</a>
   </div>

  </form>
</div>
  