

<div id="image" class="rounded shadow py-5">
    <form class="example-form" [formGroup]="post" >
    <mat-form-field class="example-full-width" id="input">
      <mat-label>Favorite food</mat-label> 
      <input   matInput placeholder="Say Something..." formControlName="saySomething">
    </mat-form-field>

    <button id="button" mat-raised-button color="primary" type="submit"  (click)="postComment()">Post</button>
    
     <input  formControlName="image" type="file" placeholder="upload image" >
      
     <input type="file" (change)="onFileSelected($event)" />
     <img [src]="imageUrl" alt="Selected Image" *ngIf="imageUrl" />
     
     <textarea [(ngModel)]="comments" placeholder="Enter your comment"></textarea>
     <button (click)="onSave()">Save</button>

  </form> 
</div> 