<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="container text-center">
    <div class="row align-items-center" >
      <div class="col-4" id="c1">
        <form class="row g-3">
             <div class="col-md-12">
              <label for="inputState" class="form-label" >Select State</label>
              <select id="inputState" class="form-select">
                <option>Maharashtra</option>
                <option>Karnataka</option>
              </select>
            </div>
            <div class="col-md-12">
                <label for="inputState" class="form-label">Select Division</label>
                <select id="inputState" class="form-select">
                  <option selected>Select Division</option>
                  <option>Maharashtra</option>
                  <option>Karnataka</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Select District</label>
                <select id="inputState" class="form-select">
                  <option selected>Select District.</option>
                  <option>Maharashtra</option>
                  <option>Karnataka</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Select Taluka</label>
                <select id="inputState" class="form-select">
                  <option selected>Select Taluka</option>
                  <option>Maharashtra</option>
                  <option>Karnataka</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Select Village</label>
                <select id="inputState" class="form-select">
                  <option selected>Select Village</option>
                  <option>Maharashtra</option>
                  <option>Karnataka</option>
                </select>
              </div>
            
            
            <hr>
            <div class="col-md-12">
              <button type="submit" class="btn btn-secondary">clear</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary">Submit</button>

            </div>
          </form>
        </div>
      <div class="col-8" >
        <table class="table" class="table table-bordered table table-striped" >
            <thead>
              <tr class="table-primary">
                <th scope="col">Sr.No</th>
                <th scope="col">State</th>
                <th scope="col">Division</th>
                <th scope="col">District</th>
                <th scope="col">Taluka</th>
                <th scope="col">Village</th>
                <th scope="col">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                    &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>
                &nbsp; &nbsp;<button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td >Maharashtra</td>
                <td>Pune</td>
                <td>Pune</td>
                <td>Shirur</td>
                <td>Shirpur</td>
                <td><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" style="font-size:24px"></i>
                </button>&nbsp; &nbsp;
              <button type="button" class="btn btn-danger"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      
    </div>
  </div>
</body>
</html>