<!-- <p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="addnewemp()">Add employee</button>
   
  </mat-toolbar>
</p> -->

<h1><b>my name is neha</b></h1>

<strong> onkar </strong>

<button type="button"> sumbit</button>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&psig=AOvVaw3gtzOOmDMECl1rJnnsMdDd&ust=1706111164370000&source=images&cd=vfe&ved=0CBMQjRxqFwoTCOi2lMLt84MDFQAAAAAdAAAAABAE"  alt="imgae not found">

<h2><i>neha koli</i></h2>

<hr>
<h6>onkar</h6>

<p> Definitions of sassy. adjective. improperly forward or bold. synonyms: fresh, impertinent, impudent, overbold, saucy, smart, wise forward. used of temperament or behavior; lacking restraint or modesty.</p>

