<!-- <table>
    <thead>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
        <th>dob</th>
        <th>gender</th>
        <th>education</th>
        <th>company</th>
        <th>experience</th> <!-- Corrected typo in "experience" -->
        <!-- <th>package</th>
    </thead>
    <tbody >
        <tr *ngFor="let a of array">
            <td>{{a.firstName}}</td>
            <td>{{a.lastName}}</td>
            <td>{{a.email}}</td>
            <td>{{a.dob}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.education}}</td>
            <td>{{a.company}}</td>
            <td>{{a.experience}}</td>
            <td>{{a.package}}</td>
        </tr>
        
    </tbody>
</table> --> -->

<div *ngFor="let a of array">

<p>{{a.id}}</p>
<p>{{a.name}}</p>
</div>