<p>password-gen works!</p>
<div id="border">
<h1 style="text-align:center">Password Generator</h1>
<div class="centre">
<label>Enter Length</label>
<input  (input)="onChangeLength($event.target.value)"/>
</div>
<div class="centre">
<label>Use Letters</label>
<input type="checkbox" (change)="onChangeUseLetters()">
</div>
<div class="centre">
<label>Use Numbers</label>
<input type="checkbox" (change)="onChangeUseNumbers()">
</div>
<div class="centre">
<label>Use Symbols</label>
<input type="checkbox" (change)="onChangeUseSymbols()">
</div>
<div class="centre">
<button style="background-color:red"  (click)="onButtonClick()">Generate!</button>
</div>
<div class="centre">
<label>Your Password</label>
<input [value] = "password"><br>
<!-- {{ password }} -->
</div>

</div>

