<div class="form-group">

    <h3>Add User</h3>
    
    <label>User Name: </label> <input type="text" class="form-control" /> <div class="mt-2">
    
    <button class="btn btn-primary">Add User</button>
    
    </div> </div>
    
    <div class="mt-3">
    
    <h3>Users List</h3>  </div>
    
    <div class="form-group"> <h3>Add User</h3>
    
    <label>User Name: </label>
    
    <input type="text" class="form-control" [(ngModel)]="userName" />
    
    <div class="mt-2"> <button class="btn btn-primary" (click)="onUserAdded()">Add User</button> </div>
    
    </div>
    
    <div class="mt-3">
    
    <h3>Users List</h3>
    

<app-parent *ngFor="let users in userList"> 

</app-parent>
    </div>