<!-- <div class="container">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoList">
              <td>{{todo.id}}</td>
              <td>{{todo.title}}</td>
              <td>
                <button type="button" class="btn btn-link" (click)="editTodo(todo)">edit</button>
                <button type="button" class="btn btn-link" (click)="deleteTodo(todo.id)">delete</button>
              </td>                
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" (click)="createTodo()">create</button>
</div> -->

<div class="container">
  <div  id="header" class="row">
    <div class="col-12">
    <h1>Website Name</h1>
  </div>
</div>
  <div id="menu" class="row">
    <div class="col-12">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Gallary</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </div>
  </div>
  <div class="row">
    <div class="col-8" id="content">
      <h2>Sub Heading</h2>
      <p>A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long.
        A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long.
      </p>
    </div>
    <div class="col-4" id="sidebar">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Gallary</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="b" id="footer">
      @copyright 2020.
    </div>
  </div>
</div>